<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Handwriting Detection</title>
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />

    <style>
      header.masthead {
        background-image: url("{{ url_for('static', filename='bg-masthead.jpg') }}");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">Home Page</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#about">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">
              Handwriting Author Identification
            </h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">
              Unlock the mystery behind handwritten texts with our Handwriting
              Author Identification Technology. Explore our innovative solution
              and dive into the fascinating world of handwriting analysis today.
            </p>
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">
              Reveal Author Identity: We've got you covered
            </h2>
            <hr class="divider divider-light" />
            <p class="text-white-75 mb-4">
              Welcome to our platform where unraveling the mysteries of author
              identity is our specialty. Whether you're exploring manuscripts or
              handwritten documents we've got the tools and insights you need to
              uncover the secrets within handwriting. Ready to reveal the author
              behind the pen?
            </p>
            <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
      <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Uploading Handwriting Samples</h3>
              <p class="text-muted mb-0">
                Users upload a sample of handwritten text to the platform
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2">
                <i class="bi-laptop fs-1 text-primary"></i>
              </div>
              <h3 class="h4 mb-2">Processing and Analysis</h3>
              <p class="text-muted mb-0">
                Our Algorithm analyzes unique features of the handwriting sample
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Author Prediction</h3>
              <p class="text-muted mb-0">
                Based on the analyzed features, the system predicts the most
                likely author of the handwriting
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Get Results</h3>
              <p class="text-muted mb-0">Users receive the predicted author</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio">
      <div class="container-fluid p-0">
        <div class="row g-0">
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/7.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/7.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Forensic Analysis</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/8.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/8.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Signature Detection</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/9.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/9.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Document Authentcation</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/10.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/10.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Fraud Prevention</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/11.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/11.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Criminal Profiling</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="{{ url_for('static', filename='img/portfolio/fullsize/12.jpg') }}"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="{{ url_for('static', filename='img/portfolio/thumbnails/12.jpg') }}"
                alt="..."
              />
              <div class="portfolio-box-caption p-3">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Neurological Assessment</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">
          Discover the hidden secrets within handwritten texts!
        </h2>
        <a
          class="btn btn-light btn-xl"
          href="{{ url_for('start') }}"
          target="_blank"
          >Get Started!</a
        >
      </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          Contact us today for any question. Call us at 09024437125
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
